# Data Carpentry for a Mini Analysis (`Python`)

Data carpentry is a necessary step before we can do any type of analysis. For this exercise, we are going to cleanup the `/baseball-databank/data/Master.csv` that we worked with in the practice and then run a mini analysis on it.

**Exercise 1:** With `pandas`, read in the dataset, `/dsa/data/all_datasets/baseball-databank/data/Master.csv`. Call this data frame, `df`.

In [1]:
# Code for Exercise 1 goes here
# -----------------------------
import pandas as pd
df = pd.read_csv("/dsa/data/all_datasets/baseball-databank/data/Master.csv")
df.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

So the columns dealing with death are not necessary for our analysis and just taking up space. Let's go ahead and get rid of them altogether. 

**Exercise 2:** Remove the `deathYear`, `deathMonth`, `deathDay`, `deathCountry`, `deathState`, and `deathCity` columns from the data frame. Rename the data frame without these columns, `df`.

In [2]:
# Code for Exercise 2 goes here
# -----------------------------
df = df.drop(['deathYear', 'deathMonth', 'deathDay', 'deathCountry', 'deathState', 'deathCity'], axis=1)
df.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,David,Aardsma,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,Tommie,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,Don,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,Andy,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

We now need to start toward the process of combining the values in the `birhtYear`, `birthMonth` and `birthDay` so that we can turn this into a datetime column. First, we need to remove the rows where these columns have `NaN` values.

**Exercise 3:** Now remove the **rows** where the `birthYear`, `birthMonth` and `birthDay` columns are `NaN`. Be sure to reset the index. Call this data frame, `players`.

In [5]:
# Code for Exercise 3 goes here
# -----------------------------
players = df.dropna(subset=['birthYear', 'birthMonth', 'birthDay'])

Right now the `players['birthYear']`, `players['birthMonth']`, and `players['birthDay']` columns are floats. We need to convert them to integers and then strings in order to make this process work.

**Exercise 4:** Convert the `players['birthYear']` and `players['birthDay']` to integers and then strings and then rename these columns `players['birthYear']` and `players['birthDay']`. **For the `players['birthMonth']` column, just change it to an integer.**

In [6]:
# Code for Exercise 4 goes here
# -----------------------------
players['birthYear'] = players['birthYear'].astype(int)
players['birthYear'] = players['birthYear'].astype(str)
players['birthMonth'] = players['birthMonth'].astype(int)
players['birthDay'] = players['birthDay'].astype(int)
players['birthDay'] = players['birthDay'].astype(str)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

Now that `players['birthMonth']` is an integer, we need to add a 0 to all of those months that are single digits. For example `1` will become `01`. This will help when we turn the combined rows into a datetime object. 

For this, you are going to need to run a for loop using this line within the loop, `"{:02}".format(i)`. `i` is the item in the for loop, so be sure that you are iterating over the `players.birthMonth` column. Be sure to add all of these new values to a list that will then become the new `players['birthMonth']` column.

**Exercise 5** Create a list using a for loop that takes the values in the `players['birthMonth']` column and adds a 0 to those values with only a single digit. Then assign this list of values to the `players['birthMonth']` column name.

In [11]:
# Code for Exercise 5 goes here
# -----------------------------
month_list = []
for i in players.birthMonth:
    month_list.append("{:02}".format(i))

players['birthMonth'] = month_list
players['birthMonth'].head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

0    12
1    02
2    08
3    09
4    08
Name: birthMonth, dtype: object

**Exercise 6:** Create a single column that strings the values of the `players['birthYear']`, `players['birthMonth']`, and `players['birthDay']` columns together. Be sure to add a hyphen (-) in between the Year and the Month, and the between the Month and the Day. For example, if row 1 had `1950`, `08`, and `01` for the `players['birthYear']`, `players['birthMonth']`, and `players['birthDay']` columns respecitively, the combined row will be `1950-08-01`. Name this row `players['birthdate']`.

*Hint: You can combine the values of string columns together through the following method: `df['column1'] + df['column2']`.*

In [14]:
# Code for Exercise 6 goes here
# -----------------------------
players['birthdate'] = players['birthYear'] + '-' + players['birthMonth'] + '-' + players['birthDay']

players['birthdate'].head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0    1981-12-27
1     1934-02-5
2     1939-08-5
3     1954-09-8
4    1972-08-25
Name: birthdate, dtype: object

**Exercise 7:** Now turn the `players['birthdate']`, `players['debut']`, and `players['finalGame']` columns into datetime data types.

In [16]:
# Code for Exercise 7 goes here
# -----------------------------
players['birthdate'] = pd.to_datetime(players['birthdate'])
players['debut'] = pd.to_datetime(players['debut'])
players['finalGame'] = pd.to_datetime(players['finalGame'])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

**Exercise 8:** Subtract the `birthdate` column from the `debut` column to find out the ages of the players when they started. You will want to call the `.astype('timedelta64[Y]')` method on this value to get the result to return in years. Call this `begin_age`.

In [19]:
# Code for Exercise 8 goes here
# -----------------------------
players.begin_age = (players.debut - players.birthdate).astype('timedelta64[Y]')

players.begin_age.head()

0    22.0
1    20.0
2    22.0
3    22.0
4    29.0
dtype: float64

**Exercise 9:** Find some descriptive statistics on `begin_age`. Who is the oldest person ever to debut? What is the mean age of players when they begin? The median? Standard deviation?

In [25]:
# Code for Exercise 9 goes here
# -----------------------------
players.begin_age.describe()

count    18202.000000
mean        23.800297
std          2.870893
min        -78.000000
25%         22.000000
50%         24.000000
75%         25.000000
max         42.000000
dtype: float64

In [26]:
players.begin_age.median()

24.0

The oldest player to debut was 42 years old. The mean age of players when they begin is 23.8 years. The median age of players when they begin is 24. The standard deviation is 2.87 years.

# Save your notebook, then `File > Close and Halt`