# Data Carpentry for a Mini Analysis (`R`)

**Exercise 1:** Read in the dataset, `/dsa/data/all_datasets/baseball-databank/data/Master.csv`. Call this data frame, `df`.

In [2]:
library(dplyr)
library(tidyr)
library(lubridate)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

In [3]:
# Code for Exercise 1 goes here
# -----------------------------
df <- read.csv('/dsa/data/all_datasets/baseball-databank/data/Master.csv')
head(df)

  playerID  birthYear birthMonth birthDay birthCountry birthState birthCity
1 aardsda01 1981      12         27       USA          CO         Denver
2 aaronha01 1934       2          5       USA          AL         Mobile
3 aaronto01 1939       8          5       USA          AL         Mobile
4 aasedo01  1954       9          8       USA          CA         Orange
5 abadan01  1972       8         25       USA          FL         Palm Beach
6 abadfe01  1985      12         17       D.R.         La Romana  La Romana
  deathYear deathMonth deathDay ⋯ nameLast nameGiven        weight height bats
1   NA      NA         NA       ⋯ Aardsma  David Allan      220    75     R
2   NA      NA         NA       ⋯ Aaron    Henry Louis      180    72     R
3 1984       8         16       ⋯ Aaron    Tommie Lee       190    75     R
4   NA      NA         NA       ⋯ Aase     Donald William   190    75     R
5   NA      NA         NA       ⋯ Abad     Fausto Andres    184    73     L
6   NA      NA         NA       ⋯ Abad     Fernando Antonio 220    73     L
  throws debut      finalGame  retroID  bbrefID
1 R      2004-04-06 2015-08-23 aardd001 aardsda01
2 R      1954-04-13 1976-10-03 aaroh101 aaronha01
3 R      1962-04-10 1971-09-26 aarot101 aaronto01
4 R      1977-07-26 1990-10-03 aased001 aasedo01
5 L      2001-09-10 2006-04-13 abada001 abadan01
6 L      2010-07-28 2015-10-03 abadf001 abadfe01

We are not interested in the columns dealing with death for these exercises. Let's go ahead and get rid of them.

**Exercise 2:** Remove the `deathYear`, `deathMonth`, `deathDay`, `deathCountry`, `deathState`, and `deathCity` columns from the data frame. Rename the data frame without these columns, `players`.

In [7]:
# Code for Exercise 2 goes here
# -----------------------------
players <- select(df, -c(deathYear, deathMonth, deathDay, deathCountry, deathState, deathCity))
head(players)

  playerID  birthYear birthMonth birthDay birthCountry birthState birthCity
1 aardsda01 1981      12         27       USA          CO         Denver
2 aaronha01 1934       2          5       USA          AL         Mobile
3 aaronto01 1939       8          5       USA          AL         Mobile
4 aasedo01  1954       9          8       USA          CA         Orange
5 abadan01  1972       8         25       USA          FL         Palm Beach
6 abadfe01  1985      12         17       D.R.         La Romana  La Romana
  nameFirst nameLast nameGiven        weight height bats throws debut
1 David     Aardsma  David Allan      220    75     R    R      2004-04-06
2 Hank      Aaron    Henry Louis      180    72     R    R      1954-04-13
3 Tommie    Aaron    Tommie Lee       190    75     R    R      1962-04-10
4 Don       Aase     Donald William   190    75     R    R      1977-07-26
5 Andy      Abad     Fausto Andres    184    73     L    L      2001-09-10
6 Fernando  Abad     Fernando Antonio 220    73     L    L      2010-07-28
  finalGame  retroID  bbrefID
1 2015-08-23 aardd001 aardsda01
2 1976-10-03 aaroh101 aaronha01
3 1971-09-26 aarot101 aaronto01
4 1990-10-03 aased001 aasedo01
5 2006-04-13 abada001 abadan01
6 2015-10-03 abadf001 abadfe01

**Exercise 3:** Create a date column called `players$birthdate` by combining the `birthYear`, `birthMonth` and `birthDay` columns, then delete these columns.

In [8]:
# Code for Exercise 3 goes here
# -----------------------------
players$birthdate <- make_date(players$birthYear, players$birthMonth, players$birthDay)
head(players$birthdate)

[1] "1981-12-27" "1934-02-05" "1939-08-05" "1954-09-08" "1972-08-25"
[6] "1985-12-17"

**Exercise 4**: Now convert the `players$debut` and `players$finalGame` columns to date columns.

In [9]:
# Code for Exercise 4 goes here
# -----------------------------
players$debut <- ymd(players$debut)
players$finalGame <- ymd(players$finalGame)

This is a good time to discuss how to calculate differences between times. `lubridate` provides some convenient ways to do this by simply subtracting one date from another. See the example below.

In [10]:
delta<-dmy("01-03-2017")-mdy("August 1st, 2000")
delta

Time difference of 6056 days

**Exercise 5**: Create a new column in the players data frame called `debut_age` that finds the difference in days between a players birth and their debut.

In [12]:
# Code for Exercise 5 goes here
# -----------------------------
players$debut_age <- players$debut - players$birthdate
head(players$debut_age)

Time differences in days
[1]  8136  7372  8284  8357 10608  8989

**Exercise 6**: Find the mean age in years of the `debut_age` column. (Hint: you may have to use the `as.numeric()` function on the `debut_age` column to remove the language around each value. Also, when finding the mean, you may need to use the `na.rm` parameter. Finally, remember,the `debut_age` values are currently in days but we want years)

In [19]:
# Code for Exercise 6 goes here
# -----------------------------
mean(as.numeric(players$debut_age), na.rm = TRUE) / 365.26
# Mean gives answer in days
# To convert to years, simply divide by the number of days in a year (365.26)

[1] 24.30192

# Save your notebook, then `File > Close and Halt`