# Descriptive Statistics with `Python` Exercises

This is the second exercise for this course. 
Like the prior exercise, all of the concepts in the exercise will be familiar in the sense that it will mirror the concepts that we learned throughout the labs and practices. 

There could be multiple ways to solve a single answer, some more elegant than others. 
Revisit older notebooks for guidance, ask questions along the way, 
and **we encourage you to search the internet**. 
Chances are that someone has had the same/similar question / error to the one you have.

For this exercise, we will be working with the `NationalNames3.csv`. Again, this is in the `/dsa/data/all_datasets/baby-names/` directory.

**Exercise 1**: *Read in the `NationalNames3.csv` file and name it `df`.*

In [2]:
# Exercise 1 code goes here
# -------------------------
import numpy as np
import pandas as pd
with open('/dsa/data/all_datasets/baby-names/NationalNames3.csv') as file:
    df = pd.read_csv(file)
df.head()

   Id    Name  Year Gender  Count
0   1    Mary  1880      F   7065
1   5  Minnie  1880      F   1746
2   7     Ida  1880      F   1472
3   9  Bertha  1880      F   1320
4  15    Cora  1880      F   1045

We will start out simple.

**Exercise 2**: Find the mean of the `Count` column and how spread out is the data?

In [3]:
# Exercise 2 code goes here
# -------------------------
print("Mean: ", np.mean(df.Count))
print("Standard Deviation: ", np.std(df.Count))

Mean:  181.71348937247797
Standard Deviation:  1535.8090963652944

**Exercise 3:** Find the minimum, first quartile, median, third quartile and max count of the name "Sam" in this dataset.

In [4]:
# Exercise 3 code goes here
# -------------------------
df[df['Name'] == 'Sam'].describe()['Count']

count      86.000000
mean      608.581395
std       661.426755
min         5.000000
25%        16.250000
50%       482.000000
75%      1071.000000
max      2505.000000
Name: Count, dtype: float64

**Challenge Exercise 1**: On average (use the median), are there more female names per year or male names? Remember, you will have to add the names per year per gender.

In [12]:
# Challenge Exercise 1 code goes here
# -----------------------------------
female = df[df['Gender'] == 'F']
male = df[df['Gender'] == 'M']

print("Median female names per year:", np.median(female.groupby('Year')['Name'].count()))
print("Median male names per year:", np.median(male.groupby('Year')['Name'].count()))

Median female names per year: 2007.0
Median male names per year: 1516.0

**Exercise 4**: For the name "Margaret" over the years, 65% is equal or below what Count?

In [16]:
# Exercise 4 code goes here
# -------------------------
margaret = df[df['Name'] == 'Margaret']
np.percentile(margaret.Count, 65)

3256.4000000000005

**Exercise 5**: Find the covariance and correlation between the Year and Count of the name "Addison".

In [20]:
# Exercise 5 code goes here
# -------------------------
addison = df[df['Name'] == 'Addison']
print("Covariance:", addison.Year.cov(addison.Count))
print("Correlation:", addison.Year.corr(addison.Count))

Covariance: 48944.459016393455
Correlation: 0.4259311439218686

**Challenge Exercise 2**: Does accounting for Gender affect the strength of the linear relationship with regards to Exercise 5? Does one gender have a stronger linear relationship than the other?

In [24]:
# Challenge Exercise 2 code goes here
# -----------------------------------
addison_male = addison[addison['Gender'] == 'M']
addison_female = addison[addison['Gender'] == 'F']

print("Correlation for males named Addison:", addison_male.Year.corr(addison_male.Count))
print("Correlation for females named Addison:", addison_female.Year.corr(addison_female.Count))

Correlation for males named Addison: 0.6712916451351595
Correlation for females named Addison: 0.8318457439323934

# Save your notebook, then `File > Close and Halt`